body {
  font-family: "Manrope", "Helvetica", "sans-serif";
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.app {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.form h3 {
  font-weight: 500;
}
.form .exit {
  text-align: left;
}
.form .exit a {
  text-decoration: none;
}

form {
  text-align: left;
}
form div {
  position: relative;
  display: block;
  margin: 1.2rem 0;
}
form div.button {
  text-align: center;
}
form div input, form div select, form div.select > div {
  width: 100%;
  padding: 1.6rem 0.6rem 0.5rem;
  background: none;
  border: 0.0125rem solid #A0A0A0;
  border-radius: 0.25rem;
  transition: border 300ms;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
}
form div input:focus, form div select:focus, form div.select > div:focus {
  outline: none;
  border-color: #2d88ff;
}
form div > div {
  overflow-y: hidden;
  cursor: pointer;
}
form div.select {
  position: relative;
}
form div.select ul {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0.125rem 0 0;
  max-width: 100%;
  z-index: 2;
  background: #ffffff;
  border: 0.0125rem solid #A0A0A0;
  border-radius: 0.25rem;
  max-height: 6rem;
  overflow-y: scroll;
  display: none;
}
form div.select ul li {
  padding: 0.25rem 0.5rem;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 200ms;
}
form div.select ul li:first-child {
  cursor: text;
}
form div.select ul li:hover {
  background: #F0F0F0;
}
form div.select ul li input {
  border: none;
  margin: 0;
  padding: 0;
}
form div.select ul li.filter {
  display: flex;
  align-content: space-between;
  align-items: center;
}
form div.select ul li.filter svg {
  margin-right: 0.5rem;
}
form div.select ul.open {
  display: inherit;
}
form div select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
form div label {
  color: #505050;
  font-size: 0.9rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 0.7rem 0;
  transition: all 250ms;
}
form div input + label, form div select + label {
  cursor: text;
}
form div :focus + label, form div label.filled, form div select + label {
  font-size: 0.8rem;
  font-weight: 400;
  transform: translate3d(0, -25%, 0);
  opacity: 1;
  cursor: default;
}
form div .error {
  margin: 0 0.5rem;
  color: darkred;
  font-size: 0.8rem;
  font-weight: 400;
}

.event-log h4, .event-log h5, .event-log p {
  margin: 0.25rem;
}
.event-log h6 span, .event-log h3 {
  cursor: pointer;
}
.event-log h6 {
  margin: 0.8rem 0;
}
.event-log h3 {
  text-align: left;
}
.event-log li {
  margin: 0.5rem;
  border-radius: 0.4rem;
  text-align: left;
}
.event-log li:hover {
  background: #F6F6F6;
}
.event-log li .event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.event-log li h5 span {
  color: #909090;
  margin-left: 0.8rem;
}
.event-log li p {
  font-size: 1rem;
  font-weight: 400;
}
.event-log li button {
  border: none;
  font-size: 1rem;
  font-weight: 400;
}
.event-log li svg {
  color: #707070;
  margin: 0.5rem;
}
.event-log .detail {
  margin: 0 0.5rem;
  padding: 0.8rem 0;
  border-top: solid 0.0125rem #EEEEEE;
  font-size: 1rem;
  font-weight: 400;
}
.event-log .detail div {
  font-size: 0.8rem;
  font-weight: 400;
  color: #888;
}
.event-log div.hidden {
  display: none;
}

body {
  background: #F0F0F0;
  color: #1b0058;
}

.app {
  background: #ffffff;
  border-radius: 0.5rem;
}

button {
  background: none;
  padding: 0.5rem 1.4rem;
  border: 0.0125rem #505050 solid;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  transition: border-color 0.5s, color 0.5s;
}
button:hover {
  border-color: #909090;
  color: #505050;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.user-avatar {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
  border-radius: 4.8rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  margin: 0 auto 1rem;
}
.user-avatar > * {
  margin-right: calc(0.0625rem * -1);
}

.filters .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  padding-bottom: 0.325rem;
  margin-bottom: 0.625rem;
  border-bottom: #DFDFDF solid 0.0125rem;
}
.filters .header:hover {
  cursor: pointer;
}
.filters .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.filters .content > span {
  text-align: left;
}
.filters .content > span:hover {
  cursor: pointer;
}
.filters .content > span > div {
  font-size: 0.8rem;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
