html {
  width: 100vw;
  height: 100vh;
}

body {
  background: #cad6e9;
  text-align: center;

  font-family: 'Manrope', 'Helvetica', 'sans-serif';
  color: #1b0058;
}

* {
  box-sizing: border-box;
}

.app {
  background: #e6effd8c;
  
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.form {
  h3 {
    font-weight: 500;
  }

  .exit {
    text-align: left;

    a {
      text-decoration: none;
    }
  }
}

form {
  text-align: left;

  div {
    position: relative;
    display: block;
    margin: 1.25rem 0;

    &.button {
      text-align: center;
    }

    input, select {
      width: 100%;
      padding: 1.5rem 0.625rem 0.5rem;
      background: none;
      border: calc(0.0625rem * 1.75) solid #A0A0A0;
      border-radius: 0.25rem;
      transition: border 300ms;

      &:focus {
        outline: none;
        border-color: #2d88ff;
      }
    }
    
    select {
      -webkit-appearance: none;
      -moz-appearance : none; 
    }

    label {
      color: #505050;
      font-size: 0.75rem;
      font-weight: 500;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0.75rem 0;
      transition: all 250ms;
      cursor: text;
    }


    :focus + label, label.filled, select + label {
      font-size: 0.625rem;
      transform: translate3d(0, -25%, 0);
      opacity: 1;
      cursor: default;
    }

    .error {
      margin: 0 0.5rem;
      
      color: darkred;
      font-size: 0.625rem;
    }
  }
}

.event-log {
  h4, h5, p {
    margin: 0.25rem;
  }

  h6 span, h3 {
    cursor: pointer;
  }

  h3 {
    text-align: left;
  }

  ul, p {
    display: none;

    &.expanded {
      display: inherit;
    }
  }

  li {
    margin: 0.5rem;
    border-bottom: 0.0125rem solid #1b0058; 

    text-align: left;

    span {
      margin-left: 0.75rem;
      color: #505050; 
    }

    p {
      font-size: 1rem;
    }

    button {
      border: none;
      font-size: 1rem;
    }
  }
}

button {
  background: none;
  padding: 0.5rem 1.5rem;

  border: 0.03125rem #505050 solid;
  border-radius: 2rem;

  font-size: 1rem;
  letter-spacing: 0.03125rem;

  cursor: pointer;

  transition: border-color 0.5s, color 0.5s;

  &:hover {
    border-color: #909090;
    color: #505050;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}