@use "sass:map";

@use "colour";
@use 'font';
@use 'layout';

@use "form";
@use "sections/eventlog";

@use 'utility/scale';


body {
  background: colour.$grey-1;
  color: #1b0058;
}

.app {
  background: colour.$grey-0;
  border-radius: 0.5rem;
}

button {
  background: none;
  padding: scale.scale(-5) scale.scale(2);

  border: layout.$border-width #505050 solid;
  border-radius: 2rem;

  @include font.text-style("body-1");
  letter-spacing: scale.scale(-25);

  cursor: pointer;

  transition: border-color 0.5s, color 0.5s;

  &:hover {
    border-color: #909090;
    color: #505050;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

$avatar-size: scale.scale(11);
$avatar-spacing: scale.scale(-20);

.user-avatar {
  height: $avatar-size;
  width: $avatar-size;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #F0F0F0;
  border-radius: $avatar-size;

  font-size: scale.scale(5);;
  font-weight: 600;
  letter-spacing: $avatar-spacing;

  margin: 0 auto 1rem;

  > * {
    // Account for letter-spacing when centering text
    margin-right: calc($avatar-spacing * -1);
  }
}

.filters {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: left;
    @include font.text-style("body-1");
    color: #888;

    padding-bottom: 0.325rem;
    margin-bottom: 0.625rem;
    border-bottom: #DFDFDF solid layout.$border-width;

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 2rem;

    @include font.text-style("body-2");

    > span {
      text-align: left;

      &:hover {
        cursor: pointer;
      }

      > div {
        @include font.text-style("caption");
      }
    }
  }
}