html {
  width: 100vw;
  height: 100vh;
}

$grey-0: #ffffff;
$grey-1: #F0F0F0;
$grey-2: #c9c9c9;
$grey-3: #A0A0A0;

body {
  background: $grey-1;
  text-align: center;

  font-family: 'Manrope', 'Helvetica', 'sans-serif';
  color: #1b0058;
}

* {
  box-sizing: border-box;
}

.app {
  background: $grey-0;
  
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.form {
  h3 {
    font-weight: 500;
  }

  .exit {
    text-align: left;

    a {
      text-decoration: none;
    }
  }
}

form {
  text-align: left;

  div {
    position: relative;
    display: block;
    margin: 1.25rem 0;

    &.button {
      text-align: center;
    }

    input, select, &.select > div {
      width: 100%;
      padding: 1.5rem 0.625rem 0.5rem;
      background: none;
      border: 0.1rem solid $grey-3;
      border-radius: 0.25rem;
      transition: border 300ms;
      font-size: 0.8rem;
      font-family: inherit;

      &:focus {
        outline: none;
        border-color: #2d88ff;
      }
    }

    > div {
      overflow-y: hidden;
      cursor: pointer;
    }

    &.select {
      position: relative;

      ul {
        position: absolute;
        top: 100%;
        left: 0;

        margin: 0.125rem 0 0;
        max-width: 100%;
        
        z-index: 2;
        background: $grey-0;
        border: 0.1rem solid $grey-3;
        border-radius: 0.25rem;

        max-height: 6rem;
        overflow-y: scroll;

        display: none;

        li {
          padding: 0.25rem 0.5rem;
          padding-right: 2rem;
          font-size: 0.8rem;
          cursor: pointer;
          
          &:first-child {
            cursor: text;
          }

          transition: background-color 200ms;

          &:hover {
            background: $grey-1;
          }

          input {
            border: none;
            margin: 0;
            padding: 0;
          }

          &.filter {
            display: flex;
            align-content: space-between;
            align-items: center;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
        
        &.open {
          display: inherit;
        }
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance : none; 
    }

    label {
      color: #505050;
      font-size: 0.75rem;
      font-weight: 500;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.15rem 0.75rem 0;
      transition: all 250ms;
    }

    input, select {
      & + label {
        cursor: text;
      }
    }

    :focus + label, label.filled, select + label {
      font-size: 0.625rem;
      transform: translate3d(0, -25%, 0);
      opacity: 1;
      cursor: default;
    }

    .error {
      margin: 0 0.5rem;
      
      color: darkred;
      font-size: 0.625rem;
    }
  }
}

.event-log {
  h4, h5, p {
    margin: 0.25rem;
  }

  h6 span, h3 {
    cursor: pointer;
  }

  h3 {
    text-align: left;
  }

  ul, p {
    display: none;

    &.expanded {
      display: inherit;
    }
  }

  li {
    margin: 0.5rem;
    border-bottom: 0.0125rem solid #1b0058; 

    text-align: left;

    span {
      margin-left: 0.75rem;
      color: #505050; 
    }

    p {
      font-size: 1rem;
    }

    button {
      border: none;
      font-size: 1rem;
    }
  }
}

button {
  background: none;
  padding: 0.5rem 1.5rem;

  border: 0.03125rem #505050 solid;
  border-radius: 2rem;

  font-size: 1rem;
  letter-spacing: 0.03125rem;

  cursor: pointer;

  transition: border-color 0.5s, color 0.5s;

  &:hover {
    border-color: #909090;
    color: #505050;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

$avatar-size: 5rem;
$avatar-spacing: 0.125rem;

.user-avatar {
  height: $avatar-size;
  width: $avatar-size;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #F0F0F0;
  border-radius: $avatar-size;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: $avatar-spacing;

  margin: 0 auto 1rem;

  > * {
    // Account for letter-spacing when centering text
    margin-right: $avatar-spacing * -1;
  }
}

.filters {
  .header {
    text-align: left;
    font-size: 0.75rem;
    color: #888;
  }

  .content {
    display: flex;
    justify-content: space-between;
    
    margin: 0.5rem 0 2rem;
  }
}